.quote_card_box {
  cursor: pointer !important;
  height: 500px;
  overflow: hidden;
}
.quote_card_box:hover {
  box-shadow: 1px 1px 6px 3px #cbeaf9;
}

.quote_card_box .selected {
  color: #c30202;
  border: 0;
}
.star-ratings {
  white-space: pre;
}
.hidden {
  display: none;
}

.quote-title {
  height: 80px;
}
